@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: cn;
    font-weight: 400;
    src: url(/fonts/cn.woff) format("woff");
  }
  @font-face {
    font-family: cn;
    font-weight: 700;
    src: url(/fonts/cn-bold.woff) format("woff");
  }
  @font-face {
    font-family: cn;
    font-weight: 600;
    src: url(/fonts/cn-semibold.woff) format("woff");
  }
  @font-face {
    font-family: cn;
    font-weight: 500;
    src: url(/fonts/cn-medium.woff) format("woff");
  }
  @font-face {
    font-family: cn;
    font-weight: 300;
    src: url(/fonts/cn-light.woff) format("woff");
  }
  html,
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}
