@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 13px;
}

:root {
  --toolbar-height: 2.15rem;
}

@layer base {
  * {
    @apply scrollbar-thin scrollbar-thumb-rounded;
  }
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-700;
}

::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

.surf-container {
  @apply overflow-hidden absolute inset-0 w-full h-full;
  z-index: -1;
  animation: 3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s 1 fadein;
}

.bg-surface {
  @apply relative opacity-30 scale-110;

  filter: blur(32px);
  height: 170%;
  width: 160%;
  max-height: 90vh;
  top: -250px;
}

/** fonts */

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  src: url("/fonts/EuclidCircularB-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  src: url("/fonts/EuclidCircularB-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  src: url("/fonts/EuclidCircularB-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  src: url("/fonts/EuclidCircularB-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  src: url("/fonts/EuclidCircularB-Semibold.woff") format("woff");
  font-weight: 600;
  font-display: swap;
}
