*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	background: #001631;
}
