---
import Layout from "../layouts/Layout.astro";
import RecentSessionPreview from "../components/RecentSessionPreview.astro";
import RecentRecordingPreview from "../components/RecentRecordingPreview.astro";
import LiveSessions from "../components/LiveSessions.svelte";

// const liveSessions = [{
//     grpcPort: 6669,
//     hostname: "Jonas MacBook Pro.fritz.box",
//     os: "macos",
//     arch: "aarch64",
// }]
const recentSessions = []
const recentRecordings = []
---

<Layout titlebar={false}>
    <div class="grid grid-rows-[5em_repeat(3,_1fr)] h-full px-5">
        <h1 class="font-bold text-4xl">Select a session</h1>
        <div>
            <h3 class="font-bold py-2">Live Sessions</h3>
            <ul>
                <LiveSessions client:only />
            </ul>
        </div>
        <div>
            <h3 class="font-bold py-2">Recent sessions</h3>
            <ul>
                {recentSessions.map(() => <RecentSessionPreview />)}

                {!recentRecordings.length && <li>No recent sessions</li>}
            </ul>
        </div>
        <div>
            <h3 class="font-bold py-2">Recent recordings</h3>
            <ul>
                {recentRecordings.map(() => <RecentRecordingPreview />)}

                {!recentRecordings.length && <li>No recent recordings</li>}
            </ul>
        </div>
    </div>
</Layout>
