---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<header data-tauri-drag-region>
	<span class="title">{title}</span>
</header>

<style lang="scss">
	@use "../styles/_platform";

	$titlebar-background-light: rgba(246, 241, 249, 0.9);
	$titlebar-background-dark: rgba(55, 51, 58, 0.9);

	header {
		width: 100vw;
		position: fixed;
		height: 52px;
		display: flex;
		align-items: center;
		transition: box-shadow 150ms, background-color 150ms;
		z-index: 100;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
		background-color: $titlebar-background-light;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(10px);
		// font-size: 0.9rem;
		// line-height: 1.1rem;
		padding: 0 10px;
		box-sizing: border-box;

		@if platform.macos() {
			padding-left: 100px;
		}

		@debug padding-left;

		@media (prefers-color-scheme: dark) {
			box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
			background-color: $titlebar-background-dark;
		}

		.title {
			font-weight: bold;
		}

		& > * {
			user-select: none;
			pointer-events: none;
		}

		select, input, fieldset, form, fieldset, button, textarea, option {
			pointer-events: all;
		}
	}
</style>
