<header data-tauri-drag-region>
	<div style="grid-area: info;" class="vstack">
		<span style="font-weight: bold;">Pisano</span>
	</div>

</header>

<style lang="scss">
    $titlebar-background: rgba(246, 241, 249, 0.9);

	header {
		width: 100vw;
		position: fixed;
		height: 52px;
		display: grid;
		grid-template-columns: 80px 1fr 1fr 1fr 1fr;
		grid-template-areas: '. info . bounding-circle sequence';
		gap: 0.75em;
		align-items: center;
		transition: box-shadow 150ms, background-color 150ms;
		z-index: 100;
		box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.13);
		background-color: $titlebar-background;
		-webkit-backdrop-filter: blur(20px);
		backdrop-filter: blur(10px);
		font-size: 0.9rem;
		line-height: 1.1rem;
		padding: 0 10px;
		box-sizing: border-box;
	}

	.vstack {
		display: flex;
		flex-direction: column;
	}

	header > * {
		user-select: none;
		pointer-events: none;
	}

	select,
	input {
		pointer-events: all;
	}

	select {
		font-size: 1.2em;
	}

	select:focus {
		outline: none;
	}

</style>