---
import GithubIcon from "../components/GithubIcon.astro";
import LinkedinIcon from "../components/LinkedinIcon.astro";
import MastodonIcon from "../components/MastodonIcon.astro";
import TwitchIcon from "../components/TwitchIcon.astro";
import XIcon from "../components/XIcon.astro";
import YoutubeIcon from "../components/YoutubeIcon.astro";
import ContactUsLink from "./ContactUsLink.astro";

const { className } = Astro.props;
---

<div
  class:list={[className, "grid md:mx-0 mx-auto items-center gap-4 lg:gap-8"]}
>
  <ContactUsLink />
  <ul class="flex items-center gap-4 lg:gap-6">
    <li><a href="https://github.com/crabnebula-dev"><GithubIcon /></a></li>
    <li><a href="https://x.com/CrabNebulaDev"><XIcon /></a></li>
    <li><a href="https://fosstodon.org/@crabnebula"><MastodonIcon /></a></li>
    <li>
      <a href="https://www.linkedin.com/company/crabnebula/"
        ><LinkedinIcon /></a>
    </li>
    <li>
      <a href="https://www.youtube.com/@crabnebula-dev"><YoutubeIcon /></a>
    </li>
    <li><a href="https://www.twitch.tv/crabnebuladev"><TwitchIcon /></a></li>
  </ul>
</div>
