---
import ChevronDownIcon from "./ChevronDownIcon.astro";
type Props = {
  links: { href: string; label: string }[];
};
const { links }: Props = Astro.props;
---

<details class="relative">
  <summary
    class="flex select-none cursor-pointer items-center gap-4 hover:bg-brand-900 hover:text-brand-300 rounded-2xl px-4 py-2"
    ><slot /> <ChevronDownIcon /></summary
  >
  <nav class="absolute w-full bg-brand-900 rounded-b-2xl overflow-hidden">
    <ul>
      {
        links.map((child) => (
          <li class="select-none">
            <a href={child.href}>{child.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</details>
<style>
  details[open] > summary {
    @apply rounded-b-none bg-brand-900 text-brand-300;
  }

  details[open] ul {
    @apply grid w-full;
  }

  details[open] ul li {
    @apply w-full px-4;
  }

  details[open] ul li:hover {
    @apply text-brand-100 bg-white bg-opacity-5;
  }

  details[open] li a {
    @apply block py-2 border-b border-brand-800 w-full;
  }

  details[open] li:last-of-type a {
    @apply border-none;
  }
</style>
