---
import Titlebar from "../components/Titlebar.astro"
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
    </head>
	<body>
        <Titlebar title="CN Devtools"/>
		<slot />
	</body>
</html>

<style lang="scss" is:global>
    @use "../styles/reset";
	@use "../styles/type";
</style>