---
import Toolbar from "../components/Toolbar.astro"
---

<!DOCTYPE html>
<html lang="en">
	<body>
		<Toolbar />
		<slot />
	</body>
</html>

<style lang="scss" is:global>
	@use "../styles/_reset.scss";
	@use "../styles/_typography.scss";
</style>
