---
import Titlebar from "../components/Titlebar.astro";

interface Props {
    titlebar?: boolean
    title?: string
}

const { titlebar = true, title = "CN Devtools" } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        { titlebar && <Titlebar title={title} /> }
        <main class="container mx-auto px-4">
            <slot />
        </main>
    </body>
</html>

<script is:inline>
    const theme = (() => {
      if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
      }
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
      }
      return "light";
    })();
  
    if (theme === "light") {
      document.documentElement.classList.remove("dark");
    } else {
      document.documentElement.classList.add("dark");
    }
    window.localStorage.setItem("theme", theme);
  </script>

<style>
    main {
        padding-top: calc(52px + .75em);
        height: 100vh;
    }
</style>